<!DOCTYPE html>
<html>

<head>
    <title>Project-REST</title>
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito|Rancho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
</head>

<body>

    <div class="form-page">
    
        <!-- NAVBAR -->
    
        <header class="header">
            <div class="header__nav--center">
                <a class="header__btn link--1" href="/beaches">Beaches</a>
                <a class="header__btn heading--0 link--1" href="/">Project REST</a>
                <a class="header__btn link--1" href="/about/Project-REST">About</a>
    
            </div>
    
            <div class="header__nav--right">
                <% if(!currentUser) {%>
                    <a class="header__btn link--1" href="/login">Login</a>
                    <a class="header__btn link--1" href="/register">Sign Up</a>
                    <% } else { %>
                        <a class="header__btn" href="#" onclick="return false">Signed in as
                            <%= currentUser.username %>
                        </a>
                        <a class="header__btn link--1" href="/logout">Logout</a>
                        <% } %>
            </div>
    
    
            <!-- flash messages -->
            <div class="flash" id="flash">
                <% if(error && error.length > 0) {%>
                    <div class="alert alert-warning" role="alert">
                        <%=error%>
                    </div>
                    <% } %>
                        <% if(success && success.length > 0) {%>
                            <div class="alert alert-success" role="alert">
                                <%=success%>
                            </div>
                            <% } %>
            </div>
    
        </header>

        <!-- FORM -->
    
        
            <div class="form-content">
                <h2 class="form__title heading--2">Create comment</h2>
                <form action="/beaches/<%=beach._id%>/comments" method="POST">
                    <div class="form__details">
                        <textarea name="comment[text]" placeholder="Leave your thoughts here"></textarea>
                        <input class="btn btn--6 link" type="submit" value="Post comment">
                    </div>
                </form>
            </div>

        <!-- FOOTER -->
        
        <footer class="footer">
            <div class="footer__content">
                <p>Created by Alexander Van Oers</p>
                <p>vo.c.alexander@gmail.com</p>
                <a class="link--1" href="https://www.linkedin.com/in/alexander-van-oers-3284b3124/">LinkedIn</a>
                <p>London, UK</p>
            </div>
        </footer>

    </div>
    
    


<%include ../partials/footer%>