<!DOCTYPE html>
<html>

<head>
    <title>Project-REST</title>
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito|Rancho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
</head>

<body>

    <!-- HEADER -->
    
    <div class="homepage">
        <header class="header">

            <div class="header__nav--center">
                <a class="header__btn link--1" href="/beaches">Beaches</a>
                <a class="header__btn heading--0 link--1" href="/">Project REST</a>
                <a class="header__btn link--1" href="/about/Project-REST">About</a>
                
            </div>

            <div class="header__nav--right">
                <% if(!currentUser) {%>
                    <a class="header__btn link--1" href="/login">Login</a>
                    <a class="header__btn link--1" href="/register">Sign Up</a>
                    <% } else { %>
                        <a class="header__btn" href="#" onclick="return false">Signed in as
                            <%= currentUser.username %>
                        </a>
                        <a class="header__btn link--1" href="/logout">Logout</a>
                        <% } %>
            </div>
                
                
                
                <!-- flash messages -->
                <div id="flash">
                    <% if(error && error.length > 0) {%>
                        <div role="alert">
                            <%=error%>
                        </div>
                    <% } %>
                        <% if(success && success.length > 0) {%>
                        <div role="alert">
                            <%=success%>
                        </div>
                    <% } %>
    
                </div>
            

        </header>

        <!-- INTRO -->

        <div class="intro">
            <div class="intro__text">
                <h1 class="heading--1">Welcome!</h1>
                <h3 class="heading--2">Hi, I'm Alexander Van Oers.</h3>
                <p class="para--1">I'm new in web development, recently finished a (full-stack) web development bootcamp, and now currently looking for an internship
                    or full-time in web development.</p>
                <p class="para--2">I have created this website,
                    <span>Project REST</span>, with the intention to show you what I can do. Here you can share one or more of your favourite beaches
                    by registering (no email required) and then post/edit/delete your favourite beaches. Also, You can add comments. To know
                    more about what tools/technologies I used to create
                    <span>Project REST</span>,
                    <a class="link link--1" href="/about/project-REST">click here</a>.</p>
                    
                </div>
        </div>

        <!-- FEATURE -->

        <div class="feature">

                <video class="feature__video" autoplay muted loop>
                    <source src="https://coverr.co/s3/mp4/Palm_Trees.mp4" type="video/mp4">
                    <source src="https://coverr.co/s3/mp4/Palm_Trees.webm" type="video/webm"> Your browser is not supported!
                </video>

                <div class="feature__bg">&nbsp;</div>

                <div class="feature__text">
                    <h1 class="heading--3">Project REST</h1>
                    <a class="btn btn--blue link" href="beaches">View all beaches</a>
                </div>
        </div>


        <footer class="footer">
            <div class="footer__content">
                <p>Created by Alexander Van Oers</p>
                <p>vo.c.alexander@gmail.com</p>
                <a class="link--1" href="https://www.linkedin.com/in/alexander-van-oers-3284b3124/">LinkedIn</a>
                <p>London, UK</p>
            </div>
        </footer>
    </div>

        
            