html, body {
    height: 100%;
    font-family: 'Rancho', cursive;
}

i {
    font-size: 15px;
}

#flash {
    margin-top: 10px;
}

.grid {
    min-height: 100%;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "content"
    "footer";
}

.content {
    display: grid;
    grid-area: content;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 150px 1fr 100%;
    grid-template-areas:
    "header header header"
    ". beaches ."
    ". . .";
}

.header {
    margin-top: 20px;
    grid-area: header;
    text-align: center;
}

.header a {
    font-size: 130%;
}

hr {
    margin: 0 30%;
}

.beaches {
    grid-area: beaches;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
}

.beach {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    border: 1px solid #EBE2E0;
    border-radius: 5px;
    
}

.beach h4 {
    margin-top: 2%;
    margin-left: 3%;
}

.beach p {
    margin-left: 3%;
}

.beach a {
    margin-left: 3%;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.location {
    font-size: 120%;
    color: #C0392B;
}

.link {
    justify-self: start;
    align-self: start;
    font-size: 110%;
}

.sub-header a {
    font-size: 140%;
}

a:hover {
    text-decoration: none;
}

/* footer */

footer {
    grid-area: footer;
    height: 100%;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

footer .contact {
    display: grid;
    padding: 1% 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

footer .contact * {
    margin:0;
    text-align: center;
    font-size: 80%;
}

footer .contact #linkedIn {
    align-self: start;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .beaches {
    grid-template-columns: repeat(2, 1fr);
    }

    /* footer */

    footer {
    grid-area: footer;
    height: 100%;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    }

    footer .contact {
    display: grid;
    padding: 1% 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }

    footer .contact * {
    margin:0;
    font-size: 80%;
    }

    footer .contact #created {
    justify-self: end;
    }

    footer .contact #email {
    justify-self: start;
    }

    footer .contact #location {
    justify-self: end;
    }

    footer .contact #linkedIn {
    justify-self: start;
    align-self: start;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .beaches {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .beaches {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20%;
    }
}