html, body {
    height: 100%;
    font-family: 'Rancho', cursive;
}


.grid {
    min-height: 100%;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "content"
    "footer";
}

.content {
    display: grid;
    grid-area: content;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto auto;
    grid-template-areas:
    ". form ."
    ". option .";
}

.form {
    grid-area: form;
}

.inputText {
    font-family: 'Roboto', sans-serif;
}

.option {
    grid-area: option;
}


#flash {
    margin-top: 10px;
}

/* footer */

footer {
    grid-area: footer;
    height: 100%;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

footer .contact {
    display: grid;
    padding: 1% 0;
    grid-template-columns: repeat(2, 1fr);
}

footer .contact * {
    margin:0;
    font-size: 80%;
}

footer .contact #created {
    justify-self: end;
}

footer .contact #email {
    justify-self: start;
}

footer .contact #location {
    justify-self: end;
}

footer .contact #linkedIn {
    justify-self: start;
    align-self: start;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .content {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .content {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    }
}