body {
    font-family: 'Rancho', cursive;
}

.grid {
    display: grid;
}


.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
    "form"
    "option";
}

.form {
    grid-area: form;
}

.option {
    grid-area: option;
}



#flash {
    margin-top: 10px;
}