body {
    font-family: 'Rancho', cursive;
}


.grid {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
    ". form ."
    ". option .";
}

.form {
    grid-area: form;
}

.inputText {
    font-family: 'Roboto', sans-serif;
}

.option {
    grid-area: option;
}


#flash {
    margin-top: 10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .grid {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
    ". form ."
    ". option .";
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .grid {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
    ". form ."
    ". option .";
    }
}