html, body {
    height: 100%;
    
}
.navbar {
    font-family: 'Rancho', cursive;
}

.grid {
    min-height: 100%;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "content"
    "footer";
}

.content {
    grid-area: content;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto;
    grid-template-areas:
    ". h1 ."
    ". h3 ."
    ". p1 ."
    ". p2 ."
    ". link .";
}


h1 {
    grid-area: h1;
    align-self: start;
    border: 1px solid black;
}

h3 {
    grid-area: h3;
    margin-bottom:10%;
    align-self: start;
    border: 1px solid black;
}

.p1 {
    grid-area: p1;
    margin:0 10%;
    margin-bottom:10%;
    align-self: start;
    border: 1px solid black;
}

.p2 {
    grid-area: p2;
    margin-bottom:10%;
    align-self: start;
    border: 1px solid black;
}

#viewBeach {
    grid-area: link;
    font-family: 'Rancho', cursive;
    font-size: 20px;
    justify-self: center;
    align-self: start;
}

#clickHere:hover {
    text-decoration: none;
    color: #df4576;
}

span {
    font-family: 'Rancho', cursive;
    font-size: 18px;
}

i {
    font-size: 15px;
}

/* footer */

footer {
    grid-area: footer;
    height: 100%;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

footer .contact {
    display: grid;
    padding: 1% 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

footer .contact * {
    margin:0;
    text-align: center;
    font-size: 80%;
}

footer .contact #linkedIn {
    align-self: start;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .content {
    margin-bottom: 10%;
}

    h3 {
    grid-area: h3;
    margin-bottom:0;
    align-self: start;
    }

    .p1 {
        grid-area: p1;
        margin:0 10%;
        margin-bottom:0;
        align-self: start;
    }

    .p2 {
        grid-area: p2;
        margin-bottom:0;
        align-self: start;
    }

    /* footer */

    footer {
    grid-area: footer;
    height: 100%;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    }

    footer .contact {
    display: grid;
    padding: 1% 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }

    footer .contact * {
    margin:0;
    font-size: 80%;
    }

    footer .contact #created {
    justify-self: end;
    }

    footer .contact #email {
    justify-self: start;
    }

    footer .contact #location {
    justify-self: end;
    }

    footer .contact #linkedIn {
    justify-self: start;
    align-self: start;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .content {
        grid-template-columns: 15% 1fr 15%;
        
    }
}

@media (min-width: 1200px) {
    .content {
        grid-template-columns: 20% 1fr 20%;
    }
}