
body {
    font-family: 'Rancho', cursive;
}

.flash {
    margin-top: 5%;
}

.grid {
    display: grid;
    grid-template-columns:5% 3fr 2fr 5%;
    grid-template-rows: 5% auto auto auto 1fr;
    grid-template-areas:
    "beachName beachName beachName beachName"
    ". beachLeftContent beachRightContent ."
    ". beachDescription beachDescription ."
    ". beachOptions beachOptions ."
    ". beachCommentSection beachCommentSection .";
    grid-column-gap: 1%;
    margin: 8% 0;
}

.beachName {
    grid-area: beachName;
    text-align: center;
}

.beachLeftContent {
    grid-area: beachLeftContent;
    /* border: 1px solid black; */
}

.beachRightContent {
    grid-area: beachRightContent;
    /* border: 1px solid black; */
}

.beachLeftContent p {
    font-size: 150%;
}

.beachDescription {
    grid-area: beachDescription;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
}

.beachOptions {
    grid-area: beachOptions;
    margin: 1% 0;
}

.beachCommentSection {
    grid-area: beachCommentSection;

}

.comment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 5% 5%;
    grid-template-areas:
    "commentDescription commentDescription"
    "commentAuthor ."
    "commentOptions commentOptions";
}

.commentDescription {
    grid-area: commentDescription;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.commentAuthor {
    grid-area: commentAuthor;
    font-family: 'Roboto', sans-serif;
    margin-bottom:1%;
    font-weight: 500;
}

.commentOptions {
    grid-area: commentOptions;
    
}

.card-header a:hover {
    text-decoration: none;
}


/* Google Maps */
#map {
    grid-area: map;
    height: 100%;
    width: 100%;
}



/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .grid {
    display: grid;
    grid-template-columns:10% 3fr 2fr 10%;
    grid-template-rows: 5% auto auto auto 1fr;
    grid-template-areas:
    "beachName beachName beachName beachName"
    ". beachLeftContent beachRightContent ."
    ". beachDescription beachDescription ."
    ". beachOptions beachOptions ."
    ". beachCommentSection beachCommentSection .";
    grid-column-gap: 1%;
    margin: 8% 0;
    /* background-color: #2BA1D0; */
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .grid {
    display: grid;
    grid-template-columns:10% 3fr 2fr 10%;
    grid-template-rows: 5% auto auto auto 1fr;
    grid-template-areas:
    "beachName beachName beachName beachName"
    ". beachLeftContent beachRightContent ."
    ". beachDescription beachDescription ."
    ". beachOptions beachOptions ."
    ". beachCommentSection beachCommentSection .";
    grid-column-gap: 1%;
    margin: 8% 0;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .grid {
    display: grid;
    grid-template-columns:15% 3fr 2fr 15%;
    grid-template-rows: 5% auto auto auto 1fr;
    grid-template-areas:
    "beachName beachName beachName beachName"
    ". beachLeftContent beachRightContent ."
    ". beachDescription beachDescription ."
    ". beachOptions beachOptions ."
    ". beachCommentSection beachCommentSection .";
    grid-column-gap: 1%;
    margin: 8% 0;
    }
}