.btn {

    &,
    &:link,
    &:visited {
        margin: 0;
        transition: all .2s;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-grey-light-1, .2);
        -moz-outline-radius: 5px;
        outline-color: $color-grey-light-1;
        outline-style: solid;
        outline-width: 3px;
        outline-offset: 5px;
        
        

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
            
        }
    }

    &:active,
    &:focus {
        
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-grey-light-1,.2);
    }

    &--blue {
        background-color: $color-secondary;
        border: 1px solid $color-secondary;
        border-radius: 5px;
        padding: 1rem 2rem;
        font-size: 1.7rem;
    }

}

.link {

    color: $color-grey-light-1;
    text-decoration: none;

    &--1:hover {
        border-bottom: 1px solid $color-grey-light-1;
        
    }
}

