<!DOCTYPE html>
<html>

<head>
    <script src="/js/jquery-slim.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/about-portfolio.css">
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>
        <div>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand" href="/">Project REST</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/beaches">Beaches</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                About
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/about/me">Me</a>
                                <a class="dropdown-item" href="/about/portfolio">Portfolio</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <% if(!currentUser) {%>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Sign Up</a>
                            </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Signed in as
                                        <%= currentUser.username %>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>
                            <% } %>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="grid">
            <div class="content">
                <div class="header">
                    <h1>About this portfolio</h1>
                    <p>Tools/technologies used to create this portfolio</p>
                </div>
            
                <div class="text-editors">
                    <h4>Text editors</h4>
                    <p>VSCode</p>
                    <p>Cloud9</p>
                </div>
            
                <div class="languages">
                    <h4>Languages</h4>
                    <p>HTML/CSS</p>
                    <p>javaScript</p>
                </div>
                <div class="front-end-framework">
                    <h4>HTML/CSS Framework</h4>
                    <p>Bootstrap 4</p>
                </div>
                <div class="server-side-language">
                    <h4>Server Side Language</h4>
                    <p>Node.js</p>
                    <p>GIT</p>
                </div>
                <div class="server-side-framework">
                    <h4>Server Side Framework</h4>
                    <p>Express</p>
                </div>
                <div class="database">
                    <h4>Database</h4>
                    <p>MongoDB</p>
                </div>
                <div class="cloud-hosting">
                    <h4>Cloud Hosting</h4>
                    <p>Heroku</p>
                    <p>mLab</p>
                </div>
                <div class="extra">
                    <h4>Other techniques used</h4>
                    <p>Grid-CSS</p>
                    <p>RESTful routing</p>
                </div>
            </div>
        </div>

    </body>
</html>